html {
        background: url("mybackground.jpg") no-repeat center fixed;
        background-size: cover;
body {
        background-image: url("mybackground.jpg");
        background-color: #F0FFFF;
        padding: 0; margin: 0; 
            }
#portrait {
        height: 200px;
        float: right;
        display: inline;       
}
#centeralign {
        text-align: center;
}
#banner {
        height: 200px;
        float: left;
        display: inline;
}
