/* OG background
body {
    background-image:    url(bluebackground.jpg);
    background-color: #87CEFA;
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
}
*/
body {
    background-image:    url(lightbluebackground.jpg);
    background-color: #8fc0c2;
    background-size: auto;
    padding: 25px;
    /*
    background-repeat: repeat;
    background-position: center center; */
}
/*
#portrait {
        height: 200px;
        float: right;
        display: inline;       
}

#banner {
        height: 200px;
        float: left;
        display: inline;
}
*/

#centeralign {
        text-align: center;
}
h1 {
    color: #00008B;
}
h2 {
    color: #00008B;
}
/* ORIGINAL
p { 
    color: white;
    font-size: 18px;
}
*/
p { 
    color: black;
    font-size: 22px;
}
#longboard {
      width: 200px;
      float: right;
      margin: 6px;
}
#snapchat {
      height: 200px;
      margin: 6px;
}
#louis {
      width: 200px;
      float: right;
      margin: 6px;
}

.hangingindent {
  padding-left: 22px ;
  text-indent: -22px ;
}
